name: release

on:
  push:
    tags: [ 'v[1-9]+.*' ]
  workflow_dispatch:
    inputs:
      which-pypi:
        description: 'Which Python package index?'
        required: true
        type: choice
        options:
          - pypi
          - testpypi
        default: testpypi

env:
  DISTRIBUTIONS_PATH: '.auxiliary/artifacts/hatch-build'

jobs:

  initialize:
    uses: ./.github/workflows/core--initializer.yaml

  test:
    needs: [initialize]
    uses: emcd/python-project-common/.github/workflows/xrepo--tester.yaml@{{ _commit }}
    with:
      matrix-exclusions: {% raw %}'${{ needs.initialize.outputs.matrix-exclusions }}'{% endraw %}
      platforms: {% raw %}'${{ needs.initialize.outputs.platforms }}'{% endraw %}
      python-descriptors: {% raw %}'${{ needs.initialize.outputs.python-descriptors }}'{% endraw %}
      python-versions: {% raw %}'${{ needs.initialize.outputs.python-versions }}'{% endraw %}
      {% if enable_rust_extension -%}
      rust-targets: {% raw %}'${{ needs.initialize.outputs.rust-targets }}'{% endraw %}
      {%- endif %}

  report:
    needs: [initialize, test]
    uses: emcd/python-project-common/.github/workflows/xrepo--reporter.yaml@{{ _commit }}
    with:
      python-version: {% raw %}'${{ fromJSON(needs.initialize.outputs.python-versions)[0] }}'{% endraw %}

  docsgen:
    needs: [initialize, report]
    permissions:
      contents: write
      id-token: write
      pages: write
    uses: emcd/python-project-common/.github/workflows/xrepo--documenter.yaml@{{ _commit }}
    with:
      include-reports: true
      python-version: {% raw %}'${{ fromJSON(needs.initialize.outputs.python-versions)[0] }}'{% endraw %}

  package:
    needs: [initialize, docsgen]
    uses: emcd/python-project-common/.github/workflows/xrepo--packager.yaml@{{ _commit }}
    with:
      artifacts-path: '.auxiliary/artifacts/hatch-build' # TODO: Use environment.
      python-version: {% raw %}'${{ fromJSON(needs.initialize.outputs.python-versions)[0] }}'{% endraw %}

  {% if enable_publication -%}
  publish-pypi:
    if: {% raw %}${{ inputs.which-pypi == 'testpypi' || startsWith(github.ref, 'refs/tags/') }}{% endraw %}
    needs: [initialize, package]
    runs-on: ubuntu-latest
    environment:
      name: {% raw %}${{ inputs.which-pypi || 'pypi' }}{% endraw %}
      url: {% raw %}${{ fromJSON(needs.initialize.outputs.pypi-package-urls)[inputs.which-pypi || 'pypi'] }}{% endraw %}{{ package_name }}
    permissions:
      id-token: write  # Only needed for PyPI trusted publishing
    steps:

      - name: Restore Distributions
        uses: actions/download-artifact@v4
        with:
          name: python-package-distributions--{% raw %}${{ github.run_id }}{% endraw %}
          path: {% raw %}${{ env.DISTRIBUTIONS_PATH }}{% endraw %}

      - name: Publish Distributions
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: {% raw %}${{ env.DISTRIBUTIONS_PATH }}{% endraw %}
          repository-url: {% raw %}${{ fromJSON(needs.initialize.outputs.pypi-api-urls)[inputs.which-pypi || 'pypi'] }}{% endraw %}
          print-hash: true
          skip-existing: {% raw %}${{ inputs.which-pypi == 'testpypi' }}{% endraw %}
  {%- endif %}

  {% if enable_publication -%}
  publish-github:
    if: {% raw %}${{ startsWith(github.ref, 'refs/tags/') }}{% endraw %}
    needs: [initialize, package, publish-pypi]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:

      - name: Prepare Python
        uses: emcd/python-project-common/.github/actions/python-hatch@{{ _commit }}
        with:
          python-version: {% raw %}${{ fromJSON(needs.initialize.outputs.python-versions)[0] }}{% endraw %}

      - name: Restore Distributions
        uses: actions/download-artifact@v4
        with:
          name: python-package-distributions--{% raw %}${{ github.run_id }}{% endraw %}
          path: {% raw %}${{ env.DISTRIBUTIONS_PATH }}{% endraw %}

      - name: Generate Integrity Check Values
        run: |
          set -eu -o pipefail
          cd {% raw %}${{ env.DISTRIBUTIONS_PATH }}{% endraw %}
          sha256sum *.tar.gz *.whl >SHA256SUMS.txt

      - name: Sign Distributions
        uses: sigstore/gh-action-sigstore-python@v3.0.0
        with:
          inputs: >-
            {% raw %}${{ env.DISTRIBUTIONS_PATH }}{% endraw %}/SHA256SUMS.txt
            {% raw %}${{ env.DISTRIBUTIONS_PATH }}{% endraw %}/*.tar.gz
            {% raw %}${{ env.DISTRIBUTIONS_PATH }}{% endraw %}/*.whl

      - name: Generate Release Notes
        run: |
          hatch --env develop run \
            towncrier build --draft --version ${GITHUB_REF_NAME} \
            > release-notes.rst

      - name: Create Release
        env:
          GITHUB_TOKEN: {% raw %}${{ github.token }}{% endraw %}
        run: |
          gh release create '{% raw %}${{ github.ref_name }}{% endraw %}' \
            --repo '{% raw %}${{ github.repository }}{% endraw %}' \
            --notes-file release-notes.rst

      - name: Publish Artifacts
        env:
          GITHUB_TOKEN: {% raw %}${{ github.token }}{% endraw %}
        run: |
          gh release upload '{% raw %}${{ github.ref_name }}{% endraw %}' \
            {% raw %}${{ env.DISTRIBUTIONS_PATH }}{% endraw %}/** \
            --repo '{% raw %}${{ github.repository }}{% endraw %}'
  {%- endif %}
