{
  "mcpServers": {
    {%- if enable_rust_extension %}
    "rust-analyzer": {
      "command": "mcp-language-server",
      "args": [
        "--lsp",
        "rust-analyzer",
        "--workspace",
        "."
      ],
    },
    {%- endif %}
    "librovore": {
      "command": "uvx",
      "args": [ "librovore", "serve" ]
    },
    "pyright": {
      "command": "mcp-language-server",
      "args": [
        "--lsp",
        "pyright-langserver",
        "--workspace",
        ".",
        "--",
        "--stdio"
      ]
    },
    "ruff": {
       "command": "mcp-language-server",
       "args": [
         "--lsp",
         "ruff",
         "--workspace",
         ".",
         "--",
         "server",
         "--preview"
      ]
    }
  }
}
