ComparisonResult        # unused variable
NominativeArguments     # unused variable
PositionalArguments     # unused variable
package_name            # unused variable

# --- BEGIN: Injected by Copier ---
{%- if inject_exceptions %}
Omnierror              # unused base exception class for derivation
{%- endif %}
# --- END: Injected by Copier ---
